 .navbar {
    font-family: 'Montserrat', sans-serif;
    background-color: #e3f2fd;
    border: 2px solid darkgray;
    border-color: #dddddd;
    width: auto;
    padding-left: 15%;
    padding-right: 15%;
    overflow: hidden;
 }

.navbar .navbar-brand {
    float: left;
    background-color: #4aaaa5;
    color: darkslategray;
    font-weight: bold;
    border-bottom-color: #4aaaa5;
    border-top-color: #4aaaa5;
    text-align: center;
    font-size: 32px;
    padding: 10px;
    /* padding-top: 15px; */
}

.navbar .nav-item {
    float: right;
    color: #cccccc;
    text-align: center;
    padding: 15px 15px;
    font-size: 17px;
 }
  
.navbar .nav-item .active {
    background-color: #4aaaa5 !important;
    color: white !important;
 }

.navbar .nav-item .active:hover {
    background-color: #4aaaa5 !important;
    color: black !important;
 }