
body {
    font-family: 'Montserrat', sans-serif;
    color: #777777;
    /* background-image: url("../images/halftone.png"); */
    background-color: #f5f3f3;
 }

/* Generic Container Styling */
.container {
    border-style: solid;
    border-color: #dddddd;
    border-width: 2px;
    background-color: #ffffff;
    width: 70%;
    margin-left: 0 auto;
    margin-right: 0 auto;
    margin-top: 10px;
}

.container #aboutMe {
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 32px;
    font-weight: bold; 
    color: #4aaaa5;
    /* width: 960px; */
    padding-left: 15px;
}

/* Styling for About Me page */
.container .floatImage {
    float:left;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    width: 150px; 
    height: 125px;
}

.container .myBlurb {
    padding-left: 15px;
    padding-right: 15px;
} 

/* Styling for the Portfolio Page */
.container .portfolioContainer {
    clear: both;
    overflow: auto;
}

.container #portfolioHeader {
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 32px;
    font-weight: bold; 
    color: #4aaaa5;
    /* width: 960px; */
    padding-left: 15px;
}

.container .portfolioImage {
    float: left;
    padding: 10px;
    width: 200px;
    height: 200px;
}

/* Styling for the Contacts Page */
.container #contactHeader {
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 32px;
    font-weight: bold; 
    color: #4aaaa5;
    /* width: 960px; */
    padding-left: 15px;
}

.container .contactPage .name {
    font-weight: bold;
}

.container .contactPage #name {
    border-style: solid;
    border-color: #ede6e6;
    border-width: 0.5px;
    width: 100%; 
    height:40px;
}

.container .contactPage #email {
    border-style: solid;
    border-color: #ede6e6;
    border-width: 0.5px;
    width: 100%; 
    height: 40px;
}

.container .contactPage #message {
    border-style: solid;
    border-color: #ede6e6;
    border-width: 0.5px;
    width: 100%; 
}

.container .contactPage #submit {
    background-color:  #4aaaa5; 
    color: white; 
    margin: 10px; 
    padding-bottom: 10px;
    font-size: 25px;
}

.container .contactPage #submit:hover {
    color: black;
}

/* Footer Styling */
.footer .footerContainer{
    position: fixed;
    background-color: #9b9898;
    border-top-style: solid;
    border-top-color: #4aaaa5;
    border-top-width: 5px;
    color: white; 
    font-weight: bold;
    text-align: center;
    margin-left: 0.5%;
    margin-right: 0.5%;
    bottom: 0.5%;
    width: 99%;
    height: 5%;
}

/* Separator styling */
hr { 
    display: block;
    border-style: inset;
    border-width: 0.5px;
    border-color: #cec6c6;
    margin-left: 15px;
    margin-right: 15px;
} 